/*
    ### Variables ###
*/

$fontfamily: "Karla", sans-serif;
$bgcolor: #171717;

/*
    ### Mixins ###
*/

@mixin reset {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    ### Global ###
*/

html, body {
    @include reset();
    height: 100%;
    width: 100%;
    font-family: $fontfamily;
    font-size: 16px;
    background-color: $bgcolor;
}

body {
    padding: 15px;
}

/*
    ### Gallery ###
*/

.colors, .gallery {
    border: 2px solid rgb(245, 245, 245);
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
}

 .gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    &__img {
        width: 100%;
    }
}

.color-wrapper {
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "header header header header header header"
        "main main main main side side"
        "main main main main side side"
        "main main main main side side"
        "main main main main side side"
        "footer footer footer footer footer footer";

    &__item--white {
        background-color: rgb(245, 245, 245);
        grid-area: header;
     }
    &__item--red { 
        background-color: rgb(201, 42, 42);
        grid-area: main;
    } 
    &__item--green {
        background-color: green;
        grid-area: side;
     }
    &__item--rebeca {
        background-color: rebeccapurple;
        grid-area: footer;
    }
}

